[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
click = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pyflakes = "*"

[packages]
click = {path = "C:/Users/tstlouis001/Downloads/Click-7.0-py2.py3-none-any.whl"}
boto3 = "*"
ipython = "*"

[requires]
python_version = "3.7"
